
body {
       background-color:#475569;
    background-image:radial-gradient(whitesmoke,#475569);
    padding:10px;
    margin:20px;
}

 h1,h2 {
        font-size:50px;
        color:whitesmoke;
        font-style:italic;
        font-weight:400;
        text-align:center;
    }
    ul {
        list-style-type: none;
        font-style: oblique;
        background-image: radial-gradient(whitesmoke,yellow);
    }
    p {
        line-height:1em;
    }









   
